<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84723869958-73mu57sci8gmd9koa62etc0jcilij4ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84723869958-73mu57sci8gmd9koa62etc0jcilij4ko</string>
	<key>API_KEY</key>
	<string>AIzaSyC8yBI-FXtZk5yQKmIQIPxEoJPJAhweBLs</string>
	<key>GCM_SENDER_ID</key>
	<string>84723869958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coindeno.coindenoapp</string>
	<key>PROJECT_ID</key>
	<string>soodmax-reactnative</string>
	<key>STORAGE_BUCKET</key>
	<string>soodmax-reactnative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84723869958:ios:e0ef1d0c3a86d4dad51687</string>
	<key>DATABASE_URL</key>
	<string>https://soodmax-reactnative-default-rtdb.firebaseio.com</string>
</dict>
</plist>